.basket{
    padding-top: 60px;
    padding-bottom: 60px;
}
.basketContainer{
    border-radius: 60px;
    background-color: #f4f6f5;
}
.basketWrapper{
    display: flex;
    flex-direction: column;

}
@media (max-width: 876px){
    .basketContainer{
        border-radius: 30px;

    }
    .basket{
        padding-top: 20px;
        padding-bottom: 60px;
    }
}
@media (max-width: 550px){
    .basketContainer{
        border-radius: 30px;

    }
    .basket{
        padding-top: 0px;
        padding-bottom: 60px;
    }
}